<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="home">
    <div class="title">
        <h1>Groupie Tracker</h1>
    </div>
    <header>
        <div class="search-box">
            <form action="/" method="get">
                <input type="search" list="search" class="search" name="search" placeholder="Search ..." autocomplete="off"/>
                <datalist id="search">
                    {{range .}}
                    <option value="{{.Name}}">Artist</option>
                    {{range .Members}}
                    <option value="{{.}}">Member</option>
                    {{end}}
                    <option value="{{.CreationDate}}">Creation Date</option>
                    <option value="{{.FirstAlbum}}">First Album</option>

                    {{range .Location.Loca}}
                    <option value="{{.}}">Location</option>
                    {{end}}
                    {{end}}
                </datalist>
                <button type="submit" id="bs">Search</button>
            </form>
        </div>
    </header>
    <div class="container">
        {{range .}}
        <a href="/artists/{{.ID}}" class="card">
            <img src="{{.Image}}" alt="Image of {{.Name}}">
            <div>
                <table>
                    <tr>
                        <td>Name:</td>
                        <td>{{.Name}}</td>
                    </tr>
                    <tr>
                        <td>Members:</td>
                        <td>
                            <ul>
                                {{range .Members}}
                                <li>{{.}}</li>
                                {{end}}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Creation Date:</td>
                        <td>{{.CreationDate}}</td>
                    </tr>
                    <tr>
                        <td>First Album:</td>
                        <td>{{.FirstAlbum}}</td>
                    </tr>
                </table>
            </div>
        </a>
        {{end}}
    </div>
</body>

</html>