<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Groupie Tracker</title>
</head>

<body>
    <div class="container">
        <img src="{{.artists.Image}}" class="img" alt="Artist Image">
        <table >
            <tr>
                <th>Name</th>
                <td>{{.artists.Name}}</td>
            </tr>
            <tr>
                <th>Members</th>
                <td>{{ range .artists.Members }}{{.}} <br> {{end}}</td>
            </tr>
            <tr>
                <th>Creation Date</th>
                <td>{{.artists.CreationDate}}</td>
            </tr>
            <tr>
                <th>First Album</th>
                <td>{{.artists.FirstAlbum}}</td>
            </tr>
            <tr>
                <th>Locations</th>
                <td>{{ range .artists.Location }}{{.}} <br> {{end}}</td>
            </tr>
            <tr>
                <th>Concert Dates</th>
                <td>{{ range .artists.Date }}{{.}} <br> {{end}}</td>
            </tr>
            <tr>
                <th>Relations</th>
                <td>{{ range $key, $values := .artists.Relation }} {{$key}}: {{ range $values }} {{.}}
                    <br> {{end}}
                    <br> {{end}}
                </td>
            </tr>
        </table>
        <a href="/" class="button">Home Page</a>
    </div>
</body>

</html>